header.head {
    background-image: url(../../../assets/images/cristina-gottardi-CSpjU6hYo_0-unsplash.jpg);
    height: 25vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}