<div class="p-8 px-5 shadow-sm shadow-[white] rounded-sm bg-[#1E1E1E] ">
    <div class="h-full flex sm:flex-row items-center sm:justify-start text-center sm:text-left">
        <div class="bg-white rounded-full p-2">
            <img alt="{{user?.name}}" class="flex-shrink-0 rounded-full w-20 h-20 object-cover object-center sm:mb-0 mb-4"
                [src]="'https://robohash.org/' + (user?.username ? user?.username : 'bret') + '?size=200x200&set=set3'" />
        </div>
        <div class="flex-grow sm:pl-8 text-white">
            <h2 class="title-font font-medium text-lg ">{{user?.name}}</h2>
            <h3 class="text-gray-500 mb-3"><fa-icon [icon]="faEnvelope" /> {{user?.email}}</h3>
        </div>
    </div>
    <div class="py-8">
        <button class="text-white hover:bg-blue-900 px-6 py-2 rounded-md bg-[#FD5956]">
            <a [routerLink]="['/user', user?.id]" routerLinkActive="router-link-active">View Details</a> </button>
    </div>
</div>