<section class="text-white bg-black body-font">
    <div class="container flex flex-col p-8 mx-auto">
        <div class="main  p-4 flex flex-wrap gap-4 bg-[#1E1E1E] ">
            <div class="basis-[100%] md:basis-[30%]">
                <img src="../../../assets/images/group3Members.jpg" alt="group3Members"
                    title="group-three members:L-R- Idowu, Tolu John, Faith, Omoma Ighawosa, Oluwadamilola"
                    class="w-100 h-100 rounded-md">
            </div>
            <div class="basis-[100%] md:basis-[66%]">
                <p class="font-medium text-sm ">Hello! We Are</p>
                <p class="text-[#FD5956] font-mono font-semibold text-pretty text-xl my-3">GROUP THREE MEMBERS</p>
                <p class="text-2xl md:text-4xl text-balance font-extrabold mt-3 "> Software </p>
                <p class="text-2xl md:text-4xl text-balance font-extrabold ps-8">Engineering Team</p>
                <p class="leading-8 py-8 font-mono text-wrap ">At the heart of this project is a group of dedicated
                    software engineers who share a common vision: to
                    create a solutions that not only meet the required specification but pave the way for the digital
                    landscape of tomorrow. Our team comprises of diverse skills, creative minds, and a relentless
                    pursuit of excellence.</p>
                <button
                    class="bg-[#FD5956] p-2 rounded-sm transition-all duration-300 hover:bg-blue-500 hover:text-white hover:translate-x-1">
                    <a href="https://github.com/Ig-Matrix/Group-3-Angular-Project" class="flex items-center">
                        <span class="mr-1">Link to Project</span>
                        <fa-icon [icon]="faLongArrowRight"></fa-icon>
                    </a>
                </button>
            </div>
        </div>
        <div class="about mt-6">
            <h3 class="text-balance text-lg font-bold hover:underline my-8 leading-8 ">Meet The Team</h3>
            <div class="parent grid grid-cols-1 sm:grid-cols-2 md:grid:cols-3 lg:grid-cols-4 gap-3 ">
                <div class="card rounded-md bg-[#1E1E1E] p-2 md:p-6 flex flex-col hover:bg-[#FD5956] group">
                    <div
                        class="bg-[#FD5956] rounded-full h-8 w-8 flex items-center justify-center mb-4 group-hover:bg-white group-hover:text-[#FD5956]">
                        <fa-icon [icon]="faUser"></fa-icon>
                    </div>
                    <h2 class="title-font font-medium  text-white text-lg md:text-3xl">Tolu</h2>
                    <h3 class="text-gray-500 mb-3 text-sm md:text-lg group-hover:text-black">Mobile Developer</h3>
                    <p class="mb-4">A creative and passionate mobile developer. Proficient in building user friendly
                        mobile applications</p>
                    <span class="inline-flex mt-auto">
                        <a class="ml-2 text-gray-700" href="https://www.github.com/tolu-john">
                            <img src="../../../assets/images/github-svgrepo-com.svg" alt="github" fill="none"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5 strokeme">
                        </a>
                        <a class="ml-2 text-gray-700" href="https://www.linkedin.com/in/tolu">
                            <img src="../../../assets/images/linkedin-svgrepo-com.svg" alt="linkedin" fill="none"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5 strokeme">
                        </a>

                        <a class="ml-2 text-gray-700" href="-">
                            <img src="../../../assets/images/twitter-svgrepo-com.svg" alt="twitter" fill="none"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5 strokeme">
                        </a>
                    </span>
                </div>
                <div class="card rounded-md bg-[#1E1E1E] p-2 md:p-6 flex flex-col hover:bg-[#FD5956] group">
                    <div
                        class="bg-[#FD5956] rounded-full h-8 w-8 flex items-center justify-center mb-4 group-hover:bg-white group-hover:text-[#FD5956]">
                        <fa-icon [icon]="faUser"></fa-icon>
                    </div>
                    <h2 class="title-font font-medium text-white text-lg md:text-3xl">Damilola</h2>
                    <h3 class="text-gray-500 mb-3 text-sm md:text-lg group-hover:text-black">UI UX Designer</h3>
                    <p class="mb-4">UX designer with nearly 2 years experience, now venturing into front-end development
                        to broaden expertise.</p>
                    <span class="inline-flex mt-auto">
                        <a class="ml-2 text-gray-700" href="https://www.github.com/Damilola-adefihan">
                            <img src="../../../assets/images/github-svgrepo-com.svg" alt="github" fill="none"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5 strokeme">
                        </a>
                        <a class="ml-2 text-gray-700" href="https://www.linkedin.com/in/oluwadamilola-adefihan">
                            <img src="../../../assets/images/linkedin-svgrepo-com.svg" alt="linkedin" fill="none"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5 strokeme">
                        </a>

                        <a class="ml-2 text-gray-700" href="https://www.x.com/Dami_adefihan">
                            <img src="../../../assets/images/twitter-svgrepo-com.svg" alt="twitter" fill="none"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5 strokeme">
                        </a>
                    </span>
                </div>
                <div class="card rounded-md bg-[#1E1E1E] p-2 md:p-6 flex flex-col hover:bg-[#FD5956] group">
                    <div
                        class="bg-[#FD5956] rounded-full h-8 w-8 flex items-center justify-center mb-4 group-hover:bg-white group-hover:text-[#FD5956]">
                        <fa-icon [icon]="faUser"></fa-icon>
                    </div>
                    <h2 class="title-font font-medium text-lg md:text-3xl text-white ">IG Omoma</h2>
                    <h3 class="text-gray-500 mb-3 text-sm md:text-lg group-hover:text-black">Frontend Developer</h3>
                    <p class="mb-4">A passionate and skilled frontend developer. Specialised in building user friendly
                        and visually apealing web applications</p>
                    <span class="inline-flex mt-auto">
                        <a class="ml-2 text-gray-700" href="https://www.github.com/ig-matrix">
                            <img src="../../../assets/images/github-svgrepo-com.svg" alt="github" fill="none"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5 strokeme">
                        </a>
                        <a class="ml-2 text-gray-700" href="https://www.linkedin.com/in/ighawosa-omoma-5070a721b">
                            <img src="../../../assets/images/linkedin-svgrepo-com.svg" alt="linkedin" fill="none"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5 strokeme">
                        </a>

                        <a class="ml-2 text-gray-700" href="https://www.x.com/i_am_ig_matrix">
                            <img src="../../../assets/images/twitter-svgrepo-com.svg" alt="twitter" fill="none"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5 strokeme">
                        </a>
                    </span>
                </div>
                <div class="card rounded-md bg-[#1E1E1E] p-2 md:p-6 flex flex-col hover:bg-[#FD5956] group">
                    <div
                        class="bg-[#FD5956] rounded-full h-8 w-8 flex items-center justify-center mb-4 group-hover:bg-white group-hover:text-[#FD5956]">
                        <fa-icon [icon]="faUser"></fa-icon>
                    </div>
                    <h2 class="title-font font-medium text-lg md:text-3xl text-white ">Faith</h2>
                    <h3 class="text-gray-500 text-sm md:text-lg mb-3 group-hover:text-black">Frontend Developer</h3>
                    <p class="mb-4">A passionate entry level Frontend developer looking forward to the creation of
                        responsive and visually appealing user interfaces.</p>
                    <span class="inline-flex mt-auto">

                        <a class="ml-2 text-gray-700" href="https://www.github.com/moongenevieve">
                            <img src="../../../assets/images/github-svgrepo-com.svg" alt="github" fill="none"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5 strokeme">
                        </a>
                        <a class="ml-2 text-gray-700" href="https://www.linkedin.com/in/faith-samson">
                            <img src="../../../assets/images/linkedin-svgrepo-com.svg" alt="linkedin" fill="none"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5 strokeme">
                        </a>

                        <a class="ml-2 text-gray-700" href="https://www.x.com/emperetrizze">
                            <img src="../../../assets/images/twitter-svgrepo-com.svg" alt="twitter" fill="none"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5 strokeme">
                        </a>
                    </span>
                </div>
                <div class="card rounded-md bg-[#1E1E1E] p-2 md:p-6 flex flex-col hover:bg-[#FD5956] group">
                    <div
                        class="bg-[#FD5956] rounded-full h-8 w-8 flex items-center justify-center mb-4 group-hover:bg-white group-hover:text-[#FD5956]">
                        <fa-icon [icon]="faUser"></fa-icon>
                    </div>
                    <h2 class="title-font font-medium text-lg md:text-3xl text-white">Samuel</h2>
                    <h3 class="text-gray-500 mb-3 text-sm md:text-lg group-hover:text-black">Product Designer</h3>
                    <p class="mb-4">As a seasoned product designer, I specialize in transforming ideas into visually
                        stunning and user-centric solutions.</p>
                    <span class="inline-flex mt-auto">
                        <a class="ml-2 text-gray-700" href="https://www.github.com/Smartsamsive">
                            <img src="../../../assets/images/github-svgrepo-com.svg" alt="github" fill="none"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5 strokeme">
                        </a>
                        <a class="ml-2 text-gray-700" href="https://www.linkedin.com/in/samuel-bamigbolan">
                            <img src="../../../assets/images/linkedin-svgrepo-com.svg" alt="linkedin" fill="none"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5 strokeme">
                        </a>

                        <a class="ml-2 text-gray-700" href="-">
                            <img src="../../../assets/images/twitter-svgrepo-com.svg" alt="twitter" fill="none"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5 strokeme">
                        </a>
                    </span>
                </div>
                <div class="card rounded-md bg-[#1E1E1E] p-2 md:p-6 flex flex-col hover:bg-[#FD5956] group">
                    <div
                        class="bg-[#FD5956] rounded-full h-8 w-8 flex items-center justify-center mb-4 group-hover:bg-white group-hover:text-[#FD5956]">
                        <fa-icon [icon]="faUser"></fa-icon>
                    </div>
                    <h2 class="title-font font-medium text-lg md:text-3xl text-white">Idowu</h2>
                    <h3 class="text-gray-500 mb-3 text-sm md:text-lg group-hover:text-black">Frontend Developer</h3>
                    <p class="mb-4">An eager and fast learner venturing into frontend development. Building a strong
                        background and understanding to be able take on any and every challenge ahead.</p>
                    <span class="inline-flex mt-auto">
                        <a class="ml-2 text-gray-700" href="https://www.github.com/Idowu007">
                            <img src="../../../assets/images/github-svgrepo-com.svg" alt="github" fill="none"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5 strokeme">
                        </a>
                        <a class="ml-2 text-gray-700" href="https://www.linkedin.com/in/idowu-adeyinka-222719195">
                            <img src="../../../assets/images/linkedin-svgrepo-com.svg" alt="linkedin" fill="none"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5 strokeme">
                        </a>

                        <a class="ml-2 text-gray-700" href="https://www.x.com/Eyede007">
                            <img src="../../../assets/images/twitter-svgrepo-com.svg" alt="twitter" fill="none"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5 strokeme">
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>